<p id="notice"><%= notice %></p>
<div class="container">
  <p>
    <strong>First name:</strong>
    <%= @user.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= @user.last_name %>
  </p>

  <p>
    <strong>Username:</strong>
    <%= @user.username %>
  </p>

  <p>
    <strong>Is admin:</strong>
    <%= @user.is_admin %>
  </p>

  <% if @user.is_admin %>
    <h1>ERES ADMIN</h1>
  <% end %>

  <%= link_to 'Edit', edit_user_path(@user) %> |
  <%= link_to 'Back', users_path %>
</div>